@import '../abstracts/globals';
.content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top:5rem;
    .contentLine{
        border: 0.010rem solid $darkGrayishViolet;
        width: 155px;
        margin:2rem 0;
        position: relative;
        top:25px;
    }
    .contentTitle{
        padding:2rem 0;
        font-family: $headingFont;
        font-weight: $bold;
        font-size:3rem;
        letter-spacing: -2px;
    }
    .contentChild{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .contentChild_img{
        padding: 2.13rem 0;
    }
    .contentChild_title{
        font-family: $headingFont;
        font-weight: $bold;
        font-size:1.8rem;
    }
    .contentChild_text{
        padding:1.28rem 1.6rem;
        text-align:center;
        white-space: normal;
        word-break: normal;
        color:$darkGrayishViolet;
        font-family: $bodyFont;
        line-height: 1.7rem;
    }
    .contentSection{
        width: 300px;
        height: 310px;
        margin:2rem 0 8rem 0;
        background:$darkViolet;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: relative;
    }
    .contentSectionText{
        text-justify: inter-word;
        text-align: center;
        padding: 2.6rem 2rem;
        font-size:2.3rem;
        font-family: $headingFont;
        color:$veryLightGray;
        z-index: 1;
    }
    .contentSection_btn--center{
         align-self: center;
    }
    .contentSection_btn {
        font-size:0.9rem;
    }
    .contentSectionImg{
        width:155px;
        position: absolute;
        right:0;
    }
}